<section class="container intro">

	<h1 class="hero">Interactive Art & Creative Coding</h1>

	<div class="nav-bar">
		<h2>Interactive Art & Creative Coding</h2>

		<!-- <nav class="nav-wrap">
			<div class="nav-collapse" id="nav-menu">
				<ul class="nav">
					<li><a href="#schedule">schedule</a></li>
					<li><a href="#links">links</a></li>
					<li><a href="#pdfs">PDFs</a></li>
					<li><a href="#resources">resources</a></li>
				</ul>
			</div>
		</nav> -->
	</div>

	<nav class="nav-wrap">
		<div class="nav-collapse" id="nav-menu">
			<ul class="nav">
				<li>3135</li><span>|</span>
				<li>Art & Technology Studies</li><span>|</span>
				<li>Wednesdays 9:00AM—4:00PM</li><span>|</span>
				<li>9/27 - 12/10</li><span>|</span>
				<li>Maclean 416</li>
			</ul>
		</div>
	</nav>

	<nav class="nav-wrap">
		<div class="nav-collapse" id="nav-menu">
			<ul class="nav">
				<li><a href="https://github.com/notandrewkaye" target="_blank">akaye</a><a href="mailto:akaye@saic.edu">@</a><a href="http://saic.edu">saic</a><a href="http://notandrewkaye.com">.</a><a href="http://olab.io">edu</a></li>
			</ul>
		</div>
	</nav>

</section>