<section class="container intro">

	<h1 class="hero" id="top">Interactive Art & Creative Coding</h1>

	<div class="nav-bar">
			<a class="logo" data-scroll href="#top">Interactive Art & Creative Coding</a>
			<a class="nav-toggle" data-nav-toggle="#nav-menu" href="#">Menu</a>
			<div class="nav-collapse" id="nav-menu">
				<ul class="nav bar">
					<li><a data-scroll href="#links">links</a></li>
					<li><a href="{{site.url}}/pdfs/">PDFs</a></li>
					<li><a href="{{site.url}}/ofbook/">ofBook</a></li>
					<li><a data-scroll href="#resources">resources</a></li>
					<li><a data-scroll href="#artists">artists</a></li>
					<li><a href="{{site.url}}/media/interactive-art-syllabus-fall-14.pdf" target="_blank">syllabus</a></li>
					<li><a data-scroll href="#overview">overview</a></li>
					<li><a data-scroll href="#1">1</a></li>
					<li><a data-scroll href="#2">2</a></li>
					<li><a data-scroll href="#3">3</a></li>
					<li><a data-scroll href="#4">4</a></li>
					<li><a data-scroll href="#5">5</a></li>
					<li><a data-scroll href="#6">6</a></li>
				</ul>
			</div>
	</div>

	<nav class="nav-wrap">
		<div class="nav-collapse" id="nav-menu">
			<ul class="nav">
				<li>3135</li><span>|</span>
				<li>Art & Technology Studies</li><span>|</span>
				<li>Wednesdays 9:00AM—4:00PM</li><span>|</span>
				<li>9/27 - 12/10</li><span>|</span>
				<li>Maclean 416</li>
			</ul>
	</nav>

	<nav class="nav-wrap">
		<div class="nav-collapse" id="nav-menu">
			<ul class="nav">
				<li><a href="https://github.com/notandrewkaye" target="_blank">akaye</a><a href="mailto:akaye@saic.edu">@</a><a href="http://saic.edu">saic</a><a href="http://notandrewkaye.com">.</a><a href="http://olab.io">edu</a></li>
			</ul>
		</div>
	</nav>

	<nav class="nav-wrap">
		<div class="nav-collapse" id="nav-menu">
			<ul class="nav">
				<li><a data-scroll href="#overview">overview</a></li>
				<li><a data-scroll href="#links">links</a></li>
				<li><a href="{{site.url}}/pdfs/">PDFs</a></li>
				<li><a href="{{site.url}}/ofbook/">ofBook</a></li>
				<li><a data-scroll href="#resources">resources</a></li>
				<li><a data-scroll href="#artists">artists</a></li>
				<li><a href="{{site.url}}/media/interactive-art-syllabus-fall-14.pdf" target="_blank">syllabus</a></li>
			</ul>
	</nav>
<span id="overview"></span>
</section>