/**
 * @custom
 * Custom styles 
 * --
 * AK
 * -- 
 */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,700,300);
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
body{
	background-color: $dark-grey;
	color: $light-grey;
}

intro{}

 h1{
 	font-size: 4vw;
 	font-weight: 100;
 	&.hero{
 		text-align: center;
 		@media (max-width: $bp-large)  { font-size: calc-em(36px); }

  	}
 }

nav{
	font-family: $font-secondary;
	font-weight: 100;
}

span{
	color: $color-primary;
}

h2{
	&.bq{
		text-align: center;
		font-style: italic;
		font-weight: 300;
	}
	&.next{
		border-bottom: 1px solid $color-white;
	}
}

.link{
	text-align: center;
	list-style-type: none;
}