/**
 * @custom
 * Custom styles 
 * --
 * AK
 * -- 
 */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,700,300);
body{
	background-color: $dark-grey;
	color: $light-grey;
}

 h1{
 	font-size: 4em;
 	font-weight: 100;
 	&.hero{
 		text-align: center;
 	}
 }

