/**
 * @section Code
 * Styling for code and preformatted text.
 */

code,
pre {
	font-family: $font-monospace;
	font-size: calc-em(14px);
	border-radius: calc-em(1px);
}

code {
	color: $color-primary;
	background-color: lighten( $color-black, 18% );
	padding: calc-em(4px);
}

pre {
	display: block;
	margin-bottom: $spacing;
	margin-left: auto;
	margin-right: auto;
	width: 50em;
	line-height: 1.5;
	background-color: lighten( $color-black, 18% );
	padding: calc-em(13px);
	tab-size: 4;
	white-space: pre-wrap;
	word-break: break-all;
}

pre code {
	font-size: 1em;
	padding: 0;
	color: $color-primary;
	background-color: transparent;
	border: 0;
}