/**
 * @custom
 * Custom styles 
 * --
 * AK
 * -- 
 */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,700,300);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,700italic);
body{
	background-color: $dark-grey;
	color: $light-grey;
}

intro{}

 h1{
 	font-size: 4vw;
 	font-weight: 100;
 	&.hero{
 		text-align: center;
 		@media (max-width: $bp-large)  { display: none; }
 		&.shrink{
 			font-size: 1vw;
 		}
  	}
 }

a.logo{
	color: $light-pink;
	margin-right: 1em;
	@include transition(color, 0.2s, ease-in-out);
	&:hover{
		color: lighten($light-pink, 2%);
	}
}
.bar{
	li a {
		color: $light-grey;
		&:hover, &.active{
			color: $light-pink;
		}
	}
}

nav{
	font-family: $font-secondary;
	font-weight: 100;
}

span{
	color: $light-pink;
}

h2{
	&.bq{
		text-align: center;
		font-style: italic;
		font-weight: 300;
	}
	&.next{
		border-bottom: 1px solid $color-white;
	}
}

.link{
	text-align: left;
	list-style-type: none;
}

.links a{
	padding: 0 1em 1em 0;
	color: $color-white;
	&:hover{
		color: rgba($light-grey, 0.8);
	}
	&.tooltip:hover span{
		display: inline;
		position: absolute;
	}
	&.tooltip span{
		z-index: 10;
		color: $light-pink;
		font-style: italic;
		font-size: 0.9em;
		vertical-align: baseline;
		display: none;
		background: rgba($dark-grey, 0.9);
		margin-left: 1em;
		padding-right: 400px;
	}
}

h3{
	font-weight: 300;
}

.main{
	margin-bottom: 200px;
	&.shrink{
		color: $color-primary;
	}
	@media (max-width: $bp-large) { 
		margin-top: 80px;
	}
}

a.inline{
	color: $light-pink;
	&:hover{
		color: lighten($light-pink, 2%);
	}
}

p > img{
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.title{
	color: $color-primary;
}
.goHome{
	border-bottom: 1px solid $light-grey;
}

.big{
	display: block;
	@media (max-width: $bp-medium) { 
		display: none;
	}
}
.small{
	display: none;
	@media (max-width: $bp-medium) { 
		display: block;
	}
}