---
title: ofBook
layout: default
---

<section class="container">

	{% include book-nav.html %}
	<div class="grid-three-fourths offset-fourth">
		<p>...is broken :(</p>
	</div>
	<div class="grid-fourth" id="sticky-chapters">
		<p><a class="goHome" href="{{site.url}}">{{ site.name }}</a></p>
		<p><a data-scroll class="title" href="#title">ofBook</a></p>
		{% for chapter in site.ofbook reversed%}
			<p><a data-scroll href="#{{chapter.number}}">{{ chapter.title }}</a></p>
		{% endfor %}
	</div>
	
	<div class="grid-three-fourths offset-fourth">
		{% for chapter in site.ofbook reversed%}
			<section class="chapter" id="{{chapter.number}}">
				{{ chapter.content }}
			</section>
		{% endfor %}
	</div>
</section>